In [ ]:
# I usesd SQLite to import data
CREATE TABLE Employee (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    firstname VARCHAR(20),
    lastname VARCHAR(20),
    hiredate DATE,
    terminationdate DATE,
    salary INTEGER)

CREATE TABLE AnnualReviews(
    id INTEGER  PRIMARY KEY,
    EmpID INTEGER,
    ReviewDate DATE,
    FOREIGN KEY (EmpID) REFERENCES Employee(id))

INSERT INTO Employee (firstname, lastname, id, hiredate, terminationdate, salary)
VALUES('Bob', 'Smith', '1', '2009-06-20', '2016-01-01', '10000'),
      ('Joe', 'Jarrod', '2', '2010-02-12', 'NULL', '20000'),
      ('Nancy', 'Soley', '3', '2012-03-14', 'NULL', '30000'),
      ('Keith', 'Widjaja', '4', '2013-09-10', '2014-01-01', '20000'),
      ('Kelly', 'Smalls', '5', '2013-09-10', 'NULL', '20000'),
      ('Frank','Nguyen', '6', '2015-04-10', '2015-05-01', '60000')

INSERT INTO AnnualReviews(id, empid, reviewdate)
VALUES('10','1', '2016-01-01'),
      ('20', '2', '2016-04-12'),
      ('30', '10', '2015-02-13'),
      ('40', '22', '2010-10-12'),
      ('50', '11', '2009-01-01'),
      ('60', '12', '2009-03-03'),
      ('70', '13', '2008-12-01'),
      ('80', '1', '2003-04-12'),
      ('90', '1', '2014-04-30')

UPDATE Employee
SET terminationdate = NULL
WHERE id = '2' or id = '3' or id = '5'

#1. all employees still working for the company with last names starting with "Smith" sorted by last name then first name.
SELECT *
FROM  Employee
WHERE terminationdate IS NULL
AND lastname = 'Smith'
ORDER BY lastname, firstname

# 2. /*all employees who have never had a review sorted by HireDate */
SELECT firstname,lastname, id
FROM Employee
WHERE id NOT IN (SELECT empid
                 FROM AnnualReviews
                 ORDER BY reviewdate)

#3. /*the difference (in days) between the most and least tenured employee still working for the company*/
SELECT 
JULIANDAY(MAX(hiredate)) - JULIANDAY(MIN(hiredate)) AS difference #use JULIANDAY in SQLite
FROM(SELECT *
     FROM Employee
     WHERE terminationdate IS NULL)